* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    
    background-color: #333;
    color: #f90;
}

div {
    position: absolute;
    bottom: 40px;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.1);
}

input {
    width: 50px;
    padding: 5px;
    font-size: 18px;
    background-color: #f90;
    text-align: center;

    outline: none;
    border: none;
}
